<!doctype HTML>
<head>
    <title>{{ name }}</title>
</head>
<link rel="stylesheet" href="style.css" />
<body>


<article>
    <h1>{{ name }}</h1>
{{#events }}
<h2>{{ summary }}</h2>
<p>{{ datetime }} --- {{ duration.human }}</p>
<p>Location: <em>{{ location }}</em></p>
{{{ description }}}
<hr />
{{/events}}
{{^events}}
  <p>No events.</p>
{{/events}}
<p>
agshdgahsjfd
</p>
</article>
</body>
</html>
