<!doctype HTML>
<head>
    <title>{{ name }}</title>
</head>
<link rel="stylesheet" href="style.css" />
<body>


<article>
    <h1>{{ name }}</h1>
    <hr />
{{#events }}
<h2>{{ summary }}</h2>
<p>{{ stamp.datetime }} --- {{ duration.human }}</p>

{{#location}}
    <p>Location: <em>{{ location }}</em></p>
{{/location}}


{{{ description }}}
{{/events}}
{{^events}}
  <p>No events.</p>
{{/events}}
</article>
</body>
</html>
